<form method="post" action="{{ path('extra_curricular_delete', {'id': extra_curricular.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar el elemento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ extra_curricular.id) }}">
    <button class="btn btn-outline-danger">ELIMINAR</button>
</form>
