{% form_theme form 'bootstrap_4_layout.html.twig' %}


{{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_row(form.begin) }}
    {{ form_row(form.end) }}
    {{ form_label(form.teachers) }}
    <button type="button" class="btn btn-link" id="all">Todos</button>
    <button type="button" class="btn btn-link" id="none">Ninguno</button>
    {{ form_errors(form.teachers) }}
    {{ form_widget(form.teachers) }}
    {{ form_rest(form) }}

{#{ form_end(form) }#}
