{% extends 'base.html.twig' %}

{% block title %}{% trans %}nueva.extra{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('multi.min') }}
{% endblock %}
{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('extra_curricular_index') }}">Actividades Extraescolares</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Nueva Actividad Extraescolar</li>
        </ol>
    </nav>

    <h1>{% trans %}nueva.extra{% endtrans %}</h1>

    <div class="btn-toolbar toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            {{ include('extra_curricular/_delete_form.html.twig') }}
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            <a href="{{ path('extra_curricular_index') }}" class="btn btn-outline-danger">VOLVER</a>
        </div>
    </div>

    <div class="form">
        {{ include('extra_curricular/_form.html.twig') }}
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-danger" type="submit">{{ "form.enviar"|trans }}</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            <a href="{{ path('extra_curricular_index') }}" class="btn btn-outline-danger">{{ "form.volver"|trans }}</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            {{ include('extra_curricular/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('extra') }}

{% endblock %}