{% extends 'base.html.twig' %}

{% block title %}ACTIVIDADES{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Inicio</a></li>
            <li class="breadcrumb-item  active" aria-current="page">Actividades</li>
        </ol>
    </nav>

    <h1>ACTIVIDADES</h1>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            {% if extra_curriculars %}
            <thead class="thead-dark">
            <tr>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for extra_curricular in extra_curriculars %}
                <tr>
                    <td>{{ extra_curricular.description }}</td>
                    <td>{{ extra_curricular.begin ? extra_curricular.begin|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ extra_curricular.end ? extra_curricular.end|date('d-m-Y H:i') : '' }}</td>
                    <td>

                        <div class="btn-toolbar toolbar-centered" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ path('extra_curricular_show', {'id': extra_curricular.id}) }}" class="btn btn-outline-danger">VER</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{{ path('extra_curricular_edit', {'id': extra_curricular.id}) }}" class="btn btn-outline-danger">EDITAR</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Thirth group">
                                {{ include('extra_curricular/_delete_form.html.twig') }}
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Forth group">
                                <a href="" class="btn btn-outline-danger">LISTADOS</a>
                            </div>

                        </div>

                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No se encontraron registros</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="navigation">
            {#{ knp_pagination_render(extra_curriculars) }#}
        </div>
        {#{ knp_pagination_filter(extra_curriculars, {
            'e.begin': 'Inicio',
        }) }#}

    </div>
    <a href="{{ path('extra_curricular_new') }}" class="btn btn-outline-danger">NUEVA ACTIVIDAD</a>
{% endblock %}
