{% extends 'base.html.twig' %}

{% block title %}ExtraCurricular{% endblock %}

{% block body %}
    <h1>ExtraCurricular</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ extra_curricular.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ extra_curricular.description }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ extra_curricular.begin ? extra_curricular.begin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ extra_curricular.end ? extra_curricular.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('extra_curricular_index') }}">back to list</a>

    <a href="{{ path('extra_curricular_edit', {'id': extra_curricular.id}) }}">edit</a>

    {{ include('extra_curricular/_delete_form.html.twig') }}
{% endblock %}
