<form method="post" action="{{ path('teacher_delete', {'id': teacher.id}) }}" onsubmit="return confirm('Seguro que quieres eliminar al profesor?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher.id) }}">
    <button class="btn btn-outline-danger">ELIMINAR</button>
</form>
