{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.imageFile) }}
    {{ form_rest(form) }}
{#{ form_end(form) }#}