{% extends 'base.html.twig' %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('teacher_index') }}">Profesores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cambiar Contraseña</li>
        </ol>
    </nav>

    <h1>Cambiar Contraseña</h1>

    <div class="form">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_rest(form) }}

    </div>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-danger" type="submit">{{ "form.enviar"|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

