{% extends 'base.html.twig' %}

{% block title %}Edición Perfil{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('teacher_index') }}">Profesores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edición</li>
        </ol>
    </nav>

    <h1>Edición Perfil</h1>

    <div class="btn-toolbar toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            {{ include('teacher/_delete_form.html.twig') }}
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            <a href="{{ path('teacher_index') }}" class="btn btn-outline-danger">VOLVER</a>
        </div>
    </div>

    <div class="form">
        {{ include('teacher/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-danger" type="submit">{{ "form.enviar"|trans }}</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            <a href="{{ path('teacher_index') }}" class="btn btn-outline-danger">{{ "form.volver"|trans }}</a>
        </div>
    </div>

    </form>
{% endblock %}

