{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('teacher_index') }}">Profesores</a></li>
        </ol>
    </nav>

    <div class="float-left">
        <h1>PROFESORES</h1>
    </div>

    {{ knp_pagination_filter(teachers, {
    }) }}

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            {% if teachers %}
            <thead class="thead-dark">
            <tr>
                <th class="sortable">{{ knp_pagination_sortable(teachers, 'Nombre', 't.name') }}</th>
                <th class="sortable">{{ knp_pagination_sortable(teachers, 'Apellidos', 't.surname') }}</th>
                <th>Email</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher.surname }}</td>
                    <td><a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a></td>
                    <td>
                        {%  if teacher.pic %}
                            <img src="{{ asset('img/pics/'~teacher.pic) | imagine_filter('my_thumb') }}"/>
                        {%  else %}
                            <img src="{{ asset('img/pics/default-user-icon-profile.png') | imagine_filter('my_thumb') }}"/>
                        {%  endif %}
                    </td>
                    <td>

                        <div class="btn-toolbar toolbar-centered" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ path('teacher_show', {'id': teacher.id}) }}" class="btn btn-outline-danger">VER</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-outline-danger">EDITAR</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Thirth group">
                                {{ include('teacher/_delete_form.html.twig') }}
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="" class="btn btn-outline-danger">HORARIO</a>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(teachers) }}
        </div>

    </div>

{% endblock %}
