{% extends 'base.html.twig' %}

{% block title %}Profesor{% endblock %}

{% block body %}
    <h1>PROFESOR</h1>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ teacher.name }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ teacher.surname }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>
                    {% if teacher.pic %}
                        <img src="{{ asset('img/pics/'~teacher.pic) | imagine_filter('my_thumb') }}"/>
                    {% else %}
                        <img src="{{ asset('img/pics/default-user-icon-profile.png') | imagine_filter('my_thumb') }}"/>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-toolbar toolbar-centered" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{{ path('teacher_index') }}" class="btn btn-outline-danger">VOLVER</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-outline-danger">EDITAR</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            {{ include('teacher/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
