<form method="post" action="{{ path('teacher_activity_delete', {'id': teacher_activity.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar el elemento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher_activity.id) }}">
    <button class="btn btn-outline-danger">ELIMINAR</button>
</form>