{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.description) }}
{{ form_row(form.begin) }}
{{ form_row(form.end) }}

<h3>Inscriptions</h3>
<ul class="list-group inscriptions"
     data-prototype="{{ form_widget(form.inscriptions.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for inscription in form.inscriptions %}
        <li class="list-group-item">
            <div>{{ form_row(inscription.teacher) }}</div>
            <div>{{ form_row(inscription.comment) }}</div>
        </li>
    {% endfor %}
</ul>
{{ form_row(form._token) }}


