{% extends 'base.html.twig' %}

{% block title %}ACTIVIDADES{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Inicio</a></li>
            <li class="breadcrumb-item  active" aria-current="page">Actividades</li>
        </ol>
    </nav>

    <div class="float-left">
        <h1>ACTIVIDADES</h1>
    </div>

    {{ knp_pagination_filter(teacher_activities, {
    }) }}
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            {% if teacher_activities %}
            <thead class="thead-dark">
            <tr>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher_activity in teacher_activities %}
                <tr>
                    <td>{{ teacher_activity.description }}</td>
                    <td>{{ teacher_activity.begin ? teacher_activity.begin|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ teacher_activity.end ? teacher_activity.end|date('d-m-Y H:i') : '' }}</td>
                    <td>

                        <div class="btn-toolbar toolbar-centered" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ path('teacher_activity_show', {'id': teacher_activity.id}) }}" class="btn btn-outline-danger">VER</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{{ path('teacher_activity_edit', {'id': teacher_activity.id}) }}" class="btn btn-outline-danger">EDITAR</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Thirth group">
                                {{ include('teacher_activity/_delete_form.html.twig') }}
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Forth group">
                                <a href="" class="btn btn-outline-danger">LISTADOS</a>
                            </div>

                        </div>

                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No se encontraron registros</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(teacher_activities) }}
        </div>

    </div>
    <a href="{{ path('teacher_activity_new') }}" class="btn btn-outline-danger">NUEVA ACTIVIDAD</a>
{% endblock %}
