{% extends 'base.html.twig' %}

{% block title %}TeacherActivity{% endblock %}

{% block body %}
    <h1>TeacherActivity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher_activity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ teacher_activity.description }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ teacher_activity.begin ? teacher_activity.begin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ teacher_activity.end ? teacher_activity.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_activity_index') }}">back to list</a>

    <a href="{{ path('teacher_activity_edit', {'id': teacher_activity.id}) }}">edit</a>

    {{ include('teacher_activity/_delete_form.html.twig') }}
{% endblock %}
