<form method="post" action="{{ path('absence_delete', {'id': absence.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar el elemento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">
    <button class="btn btn-outline-danger">ELIMINAR</button>
</form>
