{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.teacher) }}
    {{ form_row(form.type) }}
    {{ form_row(form.day) }}
    {{ form_row(form.finalDay) }}
    {{ form_rest(form) }}
{#{ form_end(form) }#}
