{% extends 'base.html.twig' %}

{% block title %}AUSENCIAS{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb ">
		<ol class="breadcrumb bg-transparent">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item  active" aria-current="page">Ausencias</li>
		</ol>
	</nav>

    <h1>AUSENCIAS</h1>

<div class="table-responsive">
    <table class="table table-bordered text-center">
		{% if absences %}
			<thead class="thead-dark">
				<tr>
					<th>Día</th>
					<th>Deja trabajo</th>
					<th>Comentario para alumnos</th>
					<th>Comentario para dirección</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for absence in absences %}
				<tr>
					<td>{{ absence.day ? absence.day|date('d-m-Y') : '' }}</td>
					<td>{{ absence.work ? 'SÍ' : 'NO' }}</td>
					<td>{{ absence.commentAlu }}</td>
					<td>{{ absence.commentDir }}</td>
					<td>

						<div class="btn-toolbar toolbar-centered" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
								<a href="{{ path('absence_show', {'id': absence.id}) }}" class="btn btn-outline-danger">VER</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
								<a href="{{ path('absence_edit', {'id': absence.id}) }}" class="btn btn-outline-danger">EDITAR</a>
                            </div>
							<div class="btn-group mr-2" role="group" aria-label="Thirth group">
								{{ include('absence/_delete_form.html.twig') }}
							</div>
							<div class="btn-group mr-2" role="group" aria-label="Forth group">
								<a href="{{ path('absence_proof', {'id': absence.id}) }}" class="btn btn-outline-danger">JUSTIFICANTE</a>
							</div>
						</div>

					</td>
				</tr>
			{% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
	<div class="navigation">
		{{ knp_pagination_render(absences) }}
	</div>
	{{ knp_pagination_filter(absences, {
		'a.day': 'Day',
	}) }}

</div>
    <a href="{{ path('absence_new') }}" class="btn btn-outline-danger">NUEVA AUSENCIA</a>
{% endblock %}
