{% extends 'base.html.twig' %}

{% block title %}{% trans %}nueva.ausencia{% endtrans %}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('absence_index') }}">Ausencias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nueva ausencia</li>
        </ol>
    </nav>

    <h1>{% trans %}nueva.ausencia{% endtrans %}</h1>

    <div class="form">
        {{ include('absence/_form.html.twig') }}
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-danger" type="submit">{{ "form.enviar"|trans }}</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            <a href="{{ path('absence_index') }}" class="btn btn-outline-danger">{{ "form.volver"|trans }}</a>
        </div>
    </div>

    <div class="form-check" id="all_day_div">
        <input type="checkbox" id="all_day_check"  class="form-check-input" name="all_day[]">
        <label class="form-check-label" for="all_day_check">{{ "form.todo.dia"|trans }}</label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('absence') }}

{% endblock %}