{% extends 'proof-base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div class="proof-header" style="margin:0 auto;text-align: center;">
        <img src="{{ absolute_url(asset("img/proof-header.png")) }}" width="80%"/>
    </div>
    <div class="proof-body">

        <div style="width: 80%;margin:0 auto;margin-top: 35px;">
            El/La <span style="font-weight: bold">professor/a </span> {{ absence.teacher.fullName }}
        </div>
        <div style="width: 80%;margin:0 auto;margin-top: 15px;">
            Ha faltat a classe els dies i hores que al requadre s'indiquen, pels motius que s'epressen
        </div>

        <table style="width: 80%;margin:0 auto;margin-top:15px;text-align: center;" class="bordered">
            <thead>
            <th>MOTIU</th>
            <th>CODI</th>
            </thead>
            <tbody>
            <tr>
                <td style="font-weight: bold;"></td>
                <td>{{ absence.motivation.description }}</td>
            </tr>
            </tbody>
        </table>

        <table style="width: 80%;margin:0 auto;text-align: center;margin-top:15px;" class="bordered">
            <thead>
            <th>DÍA/PERIODE</th>
            <th>HORES</th>
            <th>ACTIVITAT</th>
            </thead>

            <tbody>

            <tr>
                {% if absence.finalDay %}
                    <td>{{ absence.day|date('d-m-Y') }} a {{ absence.finalDay|date('d-m-Y') }}</td>

                {% else %}
                    <td>{{ absence.day|date('d-m-Y') }}</td>
                {% endif %}
                <td>{% if absence.hours.count > 1 %}
                        {{ absence.hours|first.description }} a {{ absence.hours|last.description }}
                    {% else %}
                        {{ absence.hours|first.description }}
                    {% endif %}</td>
                <td>XXXX</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="proof-footer"
         style="width:80%;margin:0 auto;margin-top: 20px;border-style: solid;border-width:thin;border-color: #222222;padding: 15px;">
        <div>Adjunte justificant: <span>SÍ</span><span style="margin-left:15px;">NO</span></div>
        <div style="text-align:center;margin:0 auto;margin-top:5px;">Mutxamel, a {{ "now"|date("d") }} de
            {% set text = "" %}
            {% set month = "now"|date("m") %}
            {% if month == 2 %}
                Febrer
            {% endif %}
            de {{ "now"|date("Y") }}</div>
        <div style="text-align:center;margin:0 auto;margin-top:65px;">
            Signatura del/de la professor/a
        </div>
    </div>


    <div class="proof-footer"
         style="width:80%;margin:0 auto;margin-top: 20px;border-style: solid;border-width:thin;border-color: #222222;padding:15px;">
        <div style="text-align: center;">Vistes les raons al.legades i considerant motiu transitori i no previsible la sol.licitud de permís, LA DIRECCIÓ justifica l'absència a tots els efectes</div>
        <div style="text-align:center;margin:0 auto;margin-top:5px;">Mutxamel, a {{ "now"|date("d") }} de
            {% set text = "" %}
            {% set month = "now"|date("m") %}
            {% if month == 2 %}
                Febrer
            {% endif %}
            de {{ "now"|date("Y") }}</div>
        <div style="text-align:center;margin:0 auto;margin-top:65px;">
            La Directora
        </div>
    </div>
{% endblock %}