{% extends 'base.html.twig' %}

{% block title %}CUADRANTE{% endblock %}

{% block body %}
    <h1>CUADRANTE DE GUARDIAS</h1>


    <div class="table-responsive">
        <table class="table table-bordered text-center text-white font-weight-bold" border="1">
            <thead class="thead-dark">
            <tr>
                <th class="col-1 w-auto">Hora</th>
                <th class="col-11 w-auto">Profesores</th>
            </tr>
            </thead>
            <tbody>

            {% for hour in hours %}


                <tr class="bg-success">
                    <td>{{ hour.description }}</td>
                    <td>Pepe Pótamo</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>




    <a href="{{ path('absence_new') }}">Crear nueva ausencia</a>
{% endblock %}
