{% extends 'base.html.twig' %}

{% block title %}Absence{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('absence_index') }}">Ausencias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Datos ausencia</li>
        </ol>
    </nav>

    <h1>AUSENCIA</h1>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <tbody style="border-color: #dee2e6;border-style: solid;">
            {% if absence.finalDay  %}
            <tr>
                <th class="bg-dark text-white w-25">Periodo</th>
                <td class="w-75">{{ absence.day ? absence.day|date('d-m-Y') : '' }} - {{ absence.day ? absence.finalDay|date('d-m-Y') : '' }}</td>
            </tr>
            {% else %}
                <tr>
                    <th class="bg-dark text-white w-25">D&iacute;a</th>
                    <td class="w-75">{{ absence.day ? absence.day|date('d-m-Y') : '' }}</td>
                </tr>
            {% endif %}
            <tr>
                <th class="bg-dark text-white w-25">Horas</th>
                <td class="w-75">{{ absence.hours|first.description }} -  {{ absence.hours|last.description }}</td>
            </tr>
            {% if not is_granted('ROLE_DIRECTIVA') %}
                <tr>
                    <th class="bg-dark text-white w-25">Motivo</th>
                    <td class="w-75">{{ absence.motivation.description }}</td>
                </tr>
                <tr>
                    <th class="bg-dark text-white w-25">Comentario para dirección</th>
                    <td class="w-75">{{ absence.commentDir }}</td>
                </tr>
            {% endif %}
            <tr>
                <th class="bg-dark w-25 text-white">Deja trabajo</th>
                <td class="w-75">{{ absence.work ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th class="bg-dark text-white w-25">Comentario para alumnos</th>
                <td class="w-75">{{ absence.commentAlu }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-toolbar toolbar-centered" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{{ path('absence_index') }}" class="btn btn-outline-danger">VOLVER</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="{{ path('absence_edit', {'id': absence.id}) }}" class="btn btn-outline-danger">EDITAR</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Thirth group">
            {{ include('absence/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
