<table class="table table-bordered text-center">
    <thead class="thead-dark">
    <tr class="">
        <th class="col-1 w-auto">HORA</th>
        <th class="col-3 w-auto ">PROFESORES/AS AUSENTES</th>
        <th class="col-1 w-auto ">DEJA TRABAJO</th>
        <th class="col-2 w-auto">CURSO</th>
        <th class="col-1 w-auto">AULA</th>
        <th class="col-3 w-auto">PROFESORES/AS GUARDIA</th>
    </tr>
    </thead>
    <tbody>

    {% for hour in hours %}

        {% if hour.todayAbsences.count > 0 %}

            {% if "now"|date("H:i") >= hour.begin|date('H:i') and "now"|date("H:i") <= hour.end|date('H:i') %}
                <tr class="bg-warning text-white">

                <td rowspan="{{ hour.todayAbsences.count }}"
                    class="col-1 w-auto hour_desc font-weight-bold"
                    data="{{ hour.description }}"
                    original="{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}">
                    {{ hour.begin|date('H:i') }}
                    - {{ hour.end|date('H:i') }}
                </td>
                <td class="col-3 w-auto"><a class="absenceTimeTableLinkWhite"
                                            href="{{ path('absence_show',{id:hour.todayAbsences|first.id}) }}">{{ hour.todayAbsences|first.teacher.fullname }}</a>
                </td>
            {% else %}
                <tr class="">

                <td rowspan="{{ hour.todayAbsences.count }}" class="col-1 w-auto hour_desc font-weight-bold"
                    data="{{ hour.description }}"
                    original="{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}">
                    {{ hour.begin|date('H:i') }}
                    - {{ hour.end|date('H:i') }}
                </td>
                <td class="col-3 w-auto"><a class="absenceTimeTableLinkBlack"
                                            href="{{ path('absence_show',{id:hour.todayAbsences|first.id}) }}">{{ hour.todayAbsences|first.teacher.fullname }}</a>
                </td>
            {% endif %}


            <td class="col-1 w-auto">{{ hour.todayAbsences|first.work ? 'SÍ' : 'NO' }}</td>
            <td class="col-2 w-auto">1FBB ADM.</td>
            <td class="col-1 w-auto">INFO1</td>

            {% if "now"|date("H:i") >= hour.begin|date('H:i') and "now"|date("H:i") <= hour.end|date('H:i') %}
                <td class="col- w-auto " rowspan="{{ hour.todayAbsences.count }}">Fulano y
                    mengano
                </td>
            {% else %}
                <td class="col-3 w-auto" rowspan="{{ hour.todayAbsences.count }}">Fulano y mengano</td>
            {% endif %}
            </tr>
            {% for absence in hour.todayAbsences|slice(1, hour.todayAbsences.count) %}

                {% if "now"|date("H:i") >= hour.begin|date('H:i') and "now"|date("H:i") <= hour.end|date('H:i') %}
                    <tr class="bg-warning  text-white">
                    <td class="col-3 w-auto"><a class="absenceTimeTableLinkWhite"
                                                href="{{ path('absence_show',{id:absence.id}) }}">{{ absence.teacher.fullname }}</a>
                    </td>
                {% else %}
                    <tr class="">
                    <td class="col-3 w-auto"><a class="absenceTimeTableLinkBlack"
                                                href="{{ path('absence_show',{id:absence.id}) }}">{{ absence.teacher.fullname }}</a>
                    </td>
                {% endif %}


                <td class="col-1 w-auto">{{ absence.work ? 'SÍ' : 'NO' }}</td>
                <td class="col-2 w-auto">1FBB ADM.</td>
                <td class="col-1 w-auto">INFO1</td>

                </tr>

            {% endfor %}
        {% else %}

            {% if "now"|date("H:i") >= hour.begin|date('H:i') and "now"|date("H:i") <= hour.end|date('H:i') %}
                <tr class="bg-success  text-white">
                <td class="col-1 w-auto hour_desc  font-weight-bold" data="{{ hour.description }}"
                    original="{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}">
                    {{ hour.begin|date('H:i') }}
                    - {{ hour.end|date('H:i') }}
                </td>
            {% else %}
                <tr class="">
                <td class="col-1 w-auto hour_desc font-weight-bold" data="{{ hour.description }}"
                    original="{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}">
                    {{ hour.begin|date('H:i') }}
                    - {{ hour.end|date('H:i') }}
                </td>
            {% endif %}

            <td class="col-3 w-auto">SIN AUSENCIAS</td>
            <td class="col-1 w-auto">-</td>
            <td class="col-2 w-auto">-</td>
            <td class="col-1 w-auto">-</td>
            <td class="col-4 w-auto">Fulano y mengano</td>
            </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>

