{% extends 'base.html.twig' %}

{% block title %}GUARDIAS{% endblock %}

{% block body %}

    <div id="timetable_async" class="table-responsive">
        {{ render(controller(
            'App\\Controller\\AbsenceController::timetableAsync'
        )) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timetable') }}

    <script>

        function loadTimeTable() {
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                http_request = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                http_request = new ActiveXObject("Microsoft.XMLHTTP");
            }

            http_request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("timetable_async").innerHTML = this.responseText;

                    var mediaquery = window.matchMedia("(max-width: 1431px)"),
                        content = document.querySelector(".hour_desc");

                    handleWidthChange(mediaquery);
                    mediaquery.addListener(handleWidthChange);
                }
            };
            http_request.open("GET", "timetableasync", true);
            http_request.send();
        }

        //loadTimeTable();

        setInterval(function () {
            loadTimeTable();
        }, 60000);

        function handleWidthChange(mediaquery) {

            if (mediaquery.matches) {
                changeHourCellContent("small");

            } else {
                changeHourCellContent("big");
            }

        }

        function changeHourCellContent(size) {

            var source = "";
            cells = document.getElementsByClassName("hour_desc");

            for (cell of cells) {

                if (size == "small") {
                    source = "data";
                } else if (size == "big") {
                    source = "original";
                }

                cell.innerText = cell.getAttribute(source);
            }
        }

    </script>
{% endblock %}