{% extends 'base.html.twig' %}

{% block title %}AUSENCIAS{% endblock %}

{% block body %}
    <h1>AUSENCIAS</h1>


    {% if absences %}

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th class="col-11 w-auto">Profesor</th>
                    <th class="col-1 w-auto">Hora/s</th>
                </tr>
                </thead>
                <tbody>

                {% for absence in absences %}
                    <tr>
                        <td class="col-11 w-auto">{{ absence.teacher.fullname }}</td>
                        <td class="col-1 w-auto">
                            {% if absence.hours.count > 1 %}
                                {{ absence.hours|first.description }} - {{ absence.hours|last.description }}
                            {% else %}
                                {{ absence.hours|first.description }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% else %}

        <h3 colspan="6">no se encontraron registros</h3>

    {% endif %}


    <a href="{{ path('absence_new') }}">Crear nueva ausencia</a>
{% endblock %}
