body {
    background-color: indianred;
}

body.proof {
    background-color: white;
}

.search-box{
    /*margin-bottom: 5px;*/
}

th.sortable a,th.sortable a:hover{
    color:white;
}

.container-fluid {
    background-color: floralwhite;
    color:black;
    /*border-radius: 1em/1em;*/
    padding-top: 1em;
    padding-bottom: 1em;
}


::backdrop {
    background-color: floralwhite;
}




.table-responsive {
    border-radius: 0.5em/0.5em;
}


.absenceTimeTableLinkWhite{
    color:white;
}


.absenceTimeTableLinkBlack{
    color:black;
}

.toolbar {
    margin-top: 1em;
    margin-bottom: 1em;
}

.toolbar-centered {
    display: block;
}


.form {
    border-radius: 0.5em/0.5em;
    border-color: indianred;
    border-style: solid;
    border-width: thin;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.custom-text-white{
    color: #fff;
}

legend{
    font-weight: bold;
}

label:not(.form-check-label){
    font-weight: bold;
}


.tdCurrentFirst{
    border-bottom-color: indianred !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: solid !important;
    border-bottom-width: thick !important;
}


.tdCurrentTeachers{
    border-bottom-color: indianred !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
    border-bottom-width: thick !important;
}

.currentFirst{
    border-left-color: indianred;
    border-top-color: indianred;
    border-right-color: indianred;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-width: thick;
    border-right-width: thick;
    border-top-width: thick;
}


.currentMed{
    border-right-color: indianred;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: solid;
    border-right-width: thick;
}

.currentLast{
    border-right-color: indianred;
    border-bottom-color: indianred;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: thick;
    border-bottom-width: thick;
}


.hours-check{
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
}

.form-check{
    margin-right: 1.25rem;
}


.logo img{
    //width:235px;
    width:20%;
    height:auto;
}

.language-dropdown-item{
 text-align: center !important;
    padding: 0px !important;
    cursor: pointer;
}

.language-dropdown-menu{
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 6rem !important;
}

@media screen and (max-width: 799px) {
    .hours-check {
        position: relative;
        display: block;
        padding-left: 1.25rem;
    }
}

.page-link{
    background-color: black;
    color:white;
}

ul.pagination li.active a:not([href]):not([tabindex]){
    background-color: gray;
    color:white;
}


.logoutLink{
    padding-left: 3px;
}


.language-padding{
    padding-bottom: 17px;
}


@import "~bootstrap/dist/css/bootstrap";



