{% extends 'base.html.twig' %}

{% block title %}Meetings index{% endblock %}

{% block body %}
    <h1>Meetings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>DateAndTime</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.description }}</td>
                <td>{{ meeting.dateAndTime ? meeting.dateAndTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.place }}</td>
                <td>
                    <a href="{{ path('meetings_show', {'id': meeting.id}) }}">show</a>
                    <a href="{{ path('meetings_edit', {'id': meeting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meetings_new') }}">Create new</a>
{% endblock %}
