{% extends 'base.html.twig' %}

{% block title %}Meetings{% endblock %}

{% block body %}
    <h1>Meetings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ meeting.description }}</td>
            </tr>
            <tr>
                <th>DateAndTime</th>
                <td>{{ meeting.dateAndTime ? meeting.dateAndTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ meeting.place }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('meetings_index') }}">back to list</a>

    <a href="{{ path('meetings_edit', {'id': meeting.id}) }}">edit</a>

    {{ include('meetings/_delete_form.html.twig') }}
{% endblock %}
