{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>MaxQualifDate</th>
                <th>DateAndTime</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.description }}</td>
                <td>{{ evaluation.maxQualifDate ? evaluation.maxQualifDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.dateAndTime ? evaluation.dateAndTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.place }}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>
{% endblock %}
