{% extends 'base.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}
    <h1>Evaluation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evaluation.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evaluation.description }}</td>
            </tr>
            <tr>
                <th>MaxQualifDate</th>
                <td>{{ evaluation.maxQualifDate ? evaluation.maxQualifDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateAndTime</th>
                <td>{{ evaluation.dateAndTime ? evaluation.dateAndTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ evaluation.place }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evaluation_index') }}">back to list</a>

    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">edit</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endblock %}
