<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IES MUTXAMEL{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
        <style>
            /* hover dropdown menus */
            @media only screen and (max-width: 991px) {
                .navbar-hover .show > .dropdown-toggle::after {
                    transform: rotate(-90deg);
                }
            }

            @media only screen and (min-width: 992px) {
                .navbar-hover .collapse ul li {
                    position: relative;
                }

                .navbar-hover .collapse ul li:hover > ul {
                    display: block
                }

                .navbar-hover .collapse ul ul {
                    position: absolute;
                    top: 70%;
                    left: 0;
                    min-width: 250px;
                    display: none
                }

                .navbar-hover .collapse ul ul ul {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    min-width: 250px;
                    display: none
                }

                /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="logo">
    <a href="{{ path('absence_index') }}"><img src="{{ asset('img/logo.png') }}"> </a>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-hover">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            {% if app.request.attributes.get('_route') == 'home' %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ path('home') }}">Inicio</a>
            </li>
            {% if app.request.attributes.get('_route') == 'absence_timetable' or  app.request.attributes.get('_route') == 'absence_quadrant' or  app.request.attributes.get('_route') == 'absence_teachers' %}
            <li class="nav-item dropdonw active">
        {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbsence" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Guardias</a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item custom-text-white" href="{{ path("absence_timetable") }}">Listado de
                        guardias</a>
                    <a class="dropdown-item custom-text-white" href="{{ path("absence_quadrant") }}">Cuadrante de
                        guardias</a>
                    <a class="dropdown-item custom-text-white" href="{{ path("absence_teachers") }}">Listado sala de
                        profesores</a>
                </div>
            </li>
            {% if app.request.attributes.get('_route') == 'teacher_index' %}
            <li class="nav-item dropdonw active">
        {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbsence" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Profesores</a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item custom-text-white" href="{{ path('teacher_index') }}">Listado de
                        profesores</a>
                    <a class="dropdown-item custom-text-white" href="#">Localiza profesor</a>
                    <a class="dropdown-item custom-text-white" href="#">Profesores libres</a>
                </div>
            </li>
            {% if app.request.attributes.get('_route') == 'absence_today' or  app.request.attributes.get('_route') == 'absence_index' or  app.request.attributes.get('_route') == 'absence_new' %}
            <li class="nav-item dropdonw active">
        {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbsence" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Faltas</a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownAbsence">
                    <a class="dropdown-item custom-text-white" href="{{ path('absence_today') }}">Faltas de hoy</a>
                    <a class="dropdown-item custom-text-white"
                       href="{{ path('absence_new') }}">{{ "menu.faltas.avisar"|trans }}</a>
                    <a class="dropdown-item custom-text-white" href="{{ path('absence_index') }}">Ver tus faltas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item custom-text-white"
                       href="{{ path('absence_new') }}">Añadir falta de otro profesor</a>
                    <a class="dropdown-item custom-text-white" href="{{ path('absence_index') }}">Ver todas las
                        faltas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Horarios
                </a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item custom-text-white" href="#">Tu horario</a>
                    <a class="dropdown-item custom-text-white" href="#">Horario de tus grupos</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item custom-text-white">Horario de cualquier profesor</div>
                    <a class="dropdown-item custom-text-white" href="#">Horario de cualquier grupo</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Reuniones<span class="sr-only">(current)</span></a>
            </li>
            {% if app.request.attributes.get('_route') == 'extra_curricular_index' or  app.request.attributes.get('_route') == 'extra_curricular_new' or  app.request.attributes.get('_route') == 'teacher_activity_index' or  app.request.attributes.get('_route') == 'teacher_activity_new' %}
            <li class="nav-item dropdonw active">
        {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Actividades
                </a>


                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item dropdown-toggle custom-text-white" href="#">Alumnado</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item custom-text-white"
                                   href="{{ path("extra_curricular_index") }}">Listado</a></li>
                            <li><a class="dropdown-item custom-text-white"
                                   href="{{ path("extra_curricular_new") }}">Nueva</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle custom-text-white" href="#">Profesorado</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item custom-text-white"
                                   href="{{ path("teacher_activity_index") }}">Listado</a></li>
                            <li><a class="dropdown-item custom-text-white"
                                   href="{{ path("teacher_activity_new") }}">Nueva</a></li>
                        </ul>
                    </li>
                </ul>


            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Evaluaciones
                </a>
                <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item custom-text-white" href="#">Action</a>
                    <a class="dropdown-item custom-text-white" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item custom-text-white" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Documentos<span class="sr-only">(current)</span></a>
            </li>

            {% if app.user %}
                {% if app.request.attributes.get('_route') == 'teacher_edit' or  app.request.attributes.get('_route') == 'teacher_change_password' or  app.request.attributes.get('_route') == 'teacher_activity_index' or  app.request.attributes.get('_route') == 'teacher_activity_new' %}
                    <li class="nav-item dropdonw active">
                {% else %}
                    <li class="nav-item dropdown">
                {% endif %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.name~' '~app.user.surname }}
                    </a>
                    <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item custom-text-white"
                           href="{{ path('teacher_edit',{'id': app.user.id}) }}"><img
                                    src="{{ asset("img/user.png") }}"/>
                            Perfil</a>
                        <a class="dropdown-item custom-text-white"
                           href="{{ path('teacher_change_password',{'id': app.user.id}) }}"><img
                                    src="{{ asset("img/change-password.png") }}"/>
                            Cambiar contraseña</a>
                        <a class="dropdown-item custom-text-white" href="{{ path('app_logout') }}"><img
                                    src="{{ asset("img/logout.png") }}"/><span class="logoutLink">Salir</span></a>
                    </div>

                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}


        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown custom-text-white">
                Idioma:
                <a href="#" class="dropdown" data-toggle="dropdown" data-close-others="true">
                    {% if app.request.locale == "es" %}
                        <img src="{{ asset("img/flags/es-flag.png") }}"/>
                    {% elseif app.request.locale == "va" %}
                        <img src="{{ asset("img/flags/val-flag.png") }}"/>
                    {% elseif app.request.locale == "en" %}
                        <img src="{{ asset("img/flags/uk-flag.png") }}"/>
                    {% endif %}
                </a>
                <ul class="dropdown-menu language-dropdown-menu bg-dark">
                    <li class="dropdown-item language-dropdown-item">
                        <a href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params'),{'_locale': 'es' }) }}">
                            <img src="{{ asset("img/flags/es-flag.png") }}"/>

                        </a>
                    </li>
                    <li class="dropdown-item language-dropdown-item">
                        <a href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params'),{'_locale': 'va' }) }}">
                            <img src="{{ asset("img/flags/val-flag.png") }}"/>

                        </a>
                    </li>
                    <li class="dropdown-item language-dropdown-item">
                        <a href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params'),{'_locale': 'en' }) }}">
                            <img src="{{ asset("img/flags/uk-flag.png") }}"/>

                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
