{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="card-deck">
        <div class="card mb-3" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">FALTAS DE HOY</div>
            <div class="card-body text-dark ">

                <div class="table-responsive">
                    <table class="table text-center font-weight-bold" style="border-color: #343a40;border-style: solid;"
                           border="1">

                        <tbody style="border-color: #dee2e6;border-style: solid;">
                        <tr>
                            <td>Arnaldo, Pérez Jumilla</td>
                            <td>1ª - 4ª</td>
                        </tr>
                        <tr>
                            <td>Alfredo, Quintana Sánchez</td>
                            <td>1ª - 7ª</td>
                        </tr>
                        <tr>
                            <td>Aurelia, Gómez Sastre</td>
                            <td>1ª - 7ª</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-4" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">CUADRANTE DE GUARDIAS</div>
            <div class="card-body text-dark ">
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-white font-weight-bold" border="1">

                        <tbody>
                        <tr class="bg-success">
                            <td>1ª</td>
                            <td style="word-break: break-all;">
                                <div>Miguel, López Román</div>
                                <div>Juan, Do Nascimento</div>
                            </td>
                        </tr>
                        <tr class="bg-success">
                            <td>2ª</td>
                            <td>
                                <div>Fernando, Ríos</div>
                                <div>Raluca, Matei</div>
                            </td>
                        </tr>
                        <tr class="bg-success">
                            <td>3ª</td>
                            <td>
                                <div>Luis, Castro</div>
                                <div>Juana, Lillo</div>
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td>4ª</td>
                            <td>
                                <div>Ramón, Riquelme</div>
                                <div>Miguel, Mercader</div>
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td>5ª</td>
                            <td>
                                <div>Asunta, Sola</div>
                                <div>Mario, Da Sousa</div>
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td>6ª</td>
                            <td>
                                <div>Manuel, López Escobar</div>
                                <div>Rómulo, Renato</div>
                                <div>Ricardo, Restrepo</div>
                            </td>
                        </tr>
                        <tr class="bg-warning">
                            <td>7ª</td>
                            <td>
                                <div>Roque, Santos</div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card mb-3" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">PRÓXIMAS REUNIONES</div>
            <div class="card-body text-dark ">
                <div class="table-responsive">
                    <table class="table text-center" style="border-color: #343a40;border-style: solid;"
                           border="1">

                        <tbody style="border-color: #dee2e6;border-style: solid;">
                        <tr>
                            <td><span class="font-weight-bold">26/03/2020 - 13:00</span></td>
                            <td>Claustro</td>
                            <td>Salón de actos</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">22/02/2020 - 15:05</span></td>
                            <td>Reunión de dpto.</td>
                            <td>Depto. Informática</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card mb-3" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">EXTRAESCOLARES</div>
            <div class="card-body text-dark ">
                <div class="table-responsive">
                    <table class="table text-center table-bordered" style="border-color: #343a40;border-style: solid;"
                           border="1">

                        <tbody style="border-color: #dee2e6;border-style: solid;">
                        <tr>
                            <td><span class="font-weight-bold">Viaje a Pirineos</span></td>
                            <td>20/02/2020 a 27/02/2020</td>
                            <td>1º ESO A, 1º ESO B, 2º ESO F</td>
                            <td>Manuel Pérez, Jaime Rico, Pepe Sancho</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Visita a empresa X</span></td>
                            <td>22/02/2020 09:50 a 22/02/2020 13:00</td>
                            <td>1º SMR</td>
                            <td>Ramón Jiménez, José Javier, Ruzafa</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-3" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">EVALUACIONES</div>
            <div class="card-body text-dark ">
                <div class="table-responsive">
                    <table class="table text-center table-bordered" style="border-color: #343a40;border-style: solid;"
                           border="1">

                        <tbody style="border-color: #dee2e6;border-style: solid;">
                        <tr>
                            <td><span class="font-weight-bold">1º FPB - Segunda Evaluación</span></td>
                            <td>28/02/2020 - 17:00</td>
                            <td>Aula X</td>
                            <td>Límite notas 27/02/2020</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">2º ESO F - Segunda Evaluación</span></td>
                            <td>28/02/2020 - 18:00</td>
                            <td>Aula X</td>
                            <td>Límite notas 27/02/2020</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="background-color: floralwhite;border-color: indianred;">
            <div class="card-header bg-dark text-white">AVISOS</div>
            <div class="card-body text-dark ">
                <div class="table-responsive">
                    <table class="table text-center table-bordered" style="border-color: #343a40;border-style: solid;"
                           border="1">

                        <tbody style="border-color: #dee2e6;border-style: solid;">
                        <tr>
                            <td>Se ruega no dejar salir a los alumnos hasta que toque el timbre</td>
                        </tr>
                        <tr>
                            <td>Expediente disciplinario a fulanito suspensión asistencia 20 días hasta 30 de Marzo</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

