<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IES MUTXAMEL{% endblock %}</title>
    <style>
        .bordered {
            border-collapse: collapse;
        }

        .bordered td {
            border: 1px solid black;
        }
    </style>
</head>
<body class="proof">

    <div>
        {% block body %}{% endblock %}
    </div>

</body>
</html>
